<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../resource/css/error.css">
    <title>Error - FNG</title>
</head>
<body>
    <div class="box-error">
        <h1>Error de la Aplicacion</h1>
        <p>Ha ocurrido un error, intentelo más tarde, o comuniquese con el desarrollador.</p>
        <a href="../index.php"> < Regresar</a>
    </div>
</body>
</html>